body{
    background-color: lightblue;
}
.address
{
    margin-left: 70%;
    
}

h1{
    text-align: center;
    border:2px groove black;
    color: purple;
    padding :20px;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
}
.content
{
    color:darkblue;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: justify;
    text-indent: 50px;
    line-height: 35px;
    margin: 10px;
}

th,td,table{
    border:2px solid black;
    text-align: center;
    text-transform: uppercase;
    background-color: aqua;
    
}

table
{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

td,th
{
    width: 250px;
    height: 40px;
    font-size: 20px;
}
#ex1
{
    border: 2px solid black;
    padding: 20px;
}

.box
{
    border: 3px solid hotpink;
    padding:10px;
    background-color: pink;
    border-radius: 25px;
    float: right;
}

.nav
{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    background-color: black;
 
}

.nav1
{
    display: inline;
    background-color: black;
}

.nav2
{
    display:inline;
    padding: 18px;
    color: white;
    
}

.dropbtn
{
    color: white;
    padding: 18px;
    display:inline;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.dropdown
{
    position: relative;
    display: inline;
    text-align: left;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: hsla(218,80%,55%,1 );
    width: 600px;
    float: left;
    text-align: left;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.dropdown-content a{
    color: white;
    padding: 12px ;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover
{
    background-color: burlywood;
    color: black;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown:hover .dropbtn
{
    background-color: aqua;
}

.nav1 .nav2:hover{
    background-color: aqua;
}

.box h3
{
    color: red;
    text-decoration: double;
    text-align: left;
}

p::first-letter
{
    color: red;
    font-size: 50px;
}

.photo1,#photo11
{

    height: 300px;
    width: 30%;
    float: right;
    border: 1px hidden;
    padding: 20px;
}
#video1
{
    height: 300px ;
    width : 40%;
    display: block;
    margin: auto;
    padding: auto;
}
#video2,#photo19
{
    border: 1px hidden;
    height: 300px ;
    width : 40%;
    display: block;
    margin: auto;
    padding: 20px;
    float:right;    
}
.boxC
{
     border: 2px solid;
     border-color: hotpink ;
     border-radius:25px;
     background-color:pink;
     padding:10px;
     color:darkblue;
     font-weight: 600;
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
     text-align: justify;
     text-indent: 50px;
     line-height: 35px;
     margin: 10px;
}
h3{
    color: red;
}
h2{
    color: mediumvioletred;
    font-size: 35px;
    text-decoration: underline;
}
#photo2,#photo10
{
    height: 300px;
    width: 30%;
    float: left;
    border: 1px hidden;
    padding: 20px;
}

#photo3
{
    height: 500px;
    width: 30%;
    float: left;
    border: 1px hidden;
    padding: 20px;
}

#photo4,#photo14
{
    height: 400px;
    width: 30%;
    float: left;
    border: 1px hidden;
    padding: 20px;
}
#photo5,#photo16
{
    height: 360px;
    width: 30%;
    float: left;
    border: 1px hidden;
    padding: 20px;
}
#photo6,#photo12,#photo15,#photo17,#photo18
{
    height: 260px;
    width: 30%;
    float: right;
    border: 1px hidden;
    padding: 20px;
}
#photo7,#photo9
{
    height: 260px;
    width: 30%;
    float: right;
    border: 1px hidden;
    padding: 20px;
}

#photo8
{
    height: 300px ;
    width : 40%;
    display: block;
    margin: auto;
    padding: auto;
}

.list
{
    list-style-position: inside;
}

dl{
    font-size: 50px;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
}

dt{
    font-size: 35px;
    font-weight: 70px;
}

a,dd{
    text-decoration: none;
    font-size: 30px;
    text-indent: 200px;
}

.buttonB
{
    border-radius: 35%;
    padding:40px;
    cursor: pointer;
    width: 20%;
    float: left;
    margin: 60px 30px;
    background-color: green;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.buttonF
{
    border-radius: 35%;
    padding:40px;
    cursor: pointer;
    width: 20%;
    float: right;
    margin-top: 60px;
    margin-right: 30px;
    background-color: green;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.buttonB:hover,.buttonF:hover
{
    background-color: darkgreen;
}

.buttonB a{
    color: white;
}
.buttonF a{
    color:white;
}